<div class="container d-flex justify-content-center" style="border-bottom: 1px solid blue">
  <h1>{{questions[questionIndex].description}}</h1>
</div>
<div class="container my-3" *ngFor="let answer of questions[questionIndex].answers">
  <input class="form-check-input mx-2" type="checkbox" [value]="answer.isCorrect" (change)="isChecked($event)" id="answer">
  <label class="form-check-label " for="answer">
    {{answer.body}}
  </label>
</div>
<div class="container d-flex justify-content-center my-3" >
  <button class="btn btn-primary my-3" (click)="nextQuestion()">Next</button>
</div>
<router-outlet></router-outlet>

